<!DOCTYPE html>
<html>
    <body>
    <script type="text/javascript">
        setTimeout("location.reload()", 30000)
    </script>

        <h1>今年の学園祭で{{.count}}人の人類が顔を認識されました</h1>

        {{range .images}} 
        <img src="{{.}}">
        {{end}}

    </body>
</html>
